@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300&family=Edu+TAS+Beginner&family=IBM+Plex+Mono:wght@100&family=Tenor+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
/* styles/globals.css */

/* Other global styles */


@font-face {
  font-family: 'itl';
  src: url('../Assets//static/DancingScript-Medium.ttf');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}
*/
.types{
  
  animation: open .2s ease-out forwards;
  width: 100%;
}
@keyframes open {
  0%{
    right: -100%;
  }
  100%{
    right: 100%;
  }
}
.obj{
  object-fit: cover;
  object-position: center;
}
.red{
  color: red;
}


.lazyload {
  opacity: 0;
  width: 100%;
  transition: opacity 0.5s ease;
  vertical-align: middle;
}
.loaded {
  opacity: 1;
}
.loaded .content{
  color: red;
}

@media screen and (max-width: 400px) {
  .home-grids{
    display: none;
  }
}