@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Edu+TAS+Beginner&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@300&family=Edu+TAS+Beginner&family=IBM+Plex+Mono:wght@100&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Comfortaa:wght@300&family=Edu+TAS+Beginner&family=IBM+Plex+Mono:wght@100&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Comfortaa:wght@300&family=Edu+TAS+Beginner&family=IBM+Plex+Mono:wght@100&family=Playfair+Display&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quicksand:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
/* styles/globals.css */

/* Other global styles */


@font-face {
  font-family: 'itl';
  src: url('../Assets//static/DancingScript-Medium.ttf');
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}
*/
.types{
  height: 100%;
  animation: open .2s ease-out forwards;
  width: 100%;
  
  scroll-behavior: smooth;
}
@keyframes open {
  0%{
    right: -100%;
  }
  100%{
    right: 100%;
  }
}

.popup{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  
  width: 100%;
  position: fixed;
  color: #000;
  border-radius: 50px;
  
  left: 50%;
  top: 100%;
  animation: up 0.3s, ease-in-out forwards, expand 0.3s ease forwards 0.5s down 0.1s ease-in forwards 1.2s;
}
@keyframes up {
  0%{
    top: 100%;
  }
  100%{
    top:90%;
  }
}
@keyframes expand {
  0%{
    width: 50px;
  }
  100%{
    width: 50%;
    color: black;
  }
}
@keyframes down {
  0%{
    top: 90%;
  }
  100%{
    top:100%;
  }
}


.obj{
  object-fit: cover;
  object-position: center;
}
.red{
  color: red;
}


.lazyload {
  opacity: 0;
  width: 100%;
  transition: opacity 0.5s ease;
  vertical-align: middle;
}
.loaded {
  opacity: 1;
}
.loaded .content{
  color: red;
}

@media screen and (max-width: 400px) {
  .home-grids{
    display: none;
  }
}